.horizontal-menu {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
.horizontal-menu-panner {
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
  will-change: transform;
}
.horizontal-menu-item {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.horizontal-scroll-fader {
  position: relative;
}
.horizontal-scroll-fader:before,
.horizontal-scroll-fader:after {
  content: "";
  pointer-events: none;
  display: block;
  width: 2rem;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
}
.horizontal-scroll-fader:before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0.25rem,
    rgba(255, 255, 255, 0)
  );
}
.horizontal-scroll-fader:after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1) 0.25rem,
    rgba(255, 255, 255, 0)
  );
}
.horizontal-menu {
  padding: 1rem 0;
  margin: 2rem auto;
  text-align: center;
}
.horizontal-menu-panner {
  padding: 0 4rem;
}
.horizontal-menu-item {
  opacity: 0.6;
  padding: 0.5rem 1rem 0.5625rem;
  transition: opacity 0.2s;
}
.horizontal-menu-item:hover {
  opacity: 1;
}
.horizontal-menu-item_on {
  opacity: 1;
  padding-bottom: 0;
}
.horizontal-menu-item_on:after {
  content: "";
  display: block;
  width: 2rem;
  border-top: 0.0625rem solid;
  margin: 0.5rem auto 0;
}
.horizontal-scroll-fader:before {
  background: linear-gradient(
    to right,
    rgba(226, 242, 244, 1) 0.25rem,
    rgba(226, 242, 244, 0)
  );
}
.horizontal-scroll-fader:after {
  background: linear-gradient(
    to left,
    rgba(226, 242, 244, 1) 0.25rem,
    rgba(226, 242, 244, 0)
  );
}
body {
  background: #000;
  font-family: Lora, serif;
  font-size: 100%;
  line-height: 1.5;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  height: 100vh;
  max-width: 64rem;
  margin: 0 auto;
  background: #e2f2f4;
}
.container:before {
  content: "";
  display: table;
}
